body {
    background: #b9e1a3;
}

main {
    display: flex;
    align-items: start;
}

.ProfileContainer {
    padding: 10px;
    display: flex;
    height: 1187px;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 60px;
    flex-shrink: 0;
    align-self: stretch;
    flex-wrap: wrap;
}

.Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.Profile img {
    background: #d5edc8;
    border-radius: 10px;
    margin: 10px;
}