.HeroText {
    position: relative;
    top: 25%;
    left: 5%;
    max-width: max-content;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
    padding: 20px;
    color: rgba(250, 254, 230, 1);
    align-items: start;
}

.HeroText h1 {
    line-height: 70px;
    font-weight: 700;
    size: 70px;
}

.HeroText a {
    color: rgba(250, 254, 230, 1);
    background: rgba(125, 172, 55, 1);
    padding: 20px 50px;
    border-radius: 100px;
    margin-top: 20px;
    font-weight: 400;
    size: 24px;
    line-height: 28px;
}

.NoticeBoard {
    background: rgba(185, 225, 163, 1);
    width: 700px;
    height: 550px;
    top: 45%;
    position: relative;
    left: 5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    justify-content: space-between;
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.NoticeBoard h1 {
    color: rgba(20, 65, 5, 1);

}

.NoticeContainer {
    background: rgba(213, 237, 200, 1);
    border-radius: 10px;
    width: 550px;
    height: 380px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.Notice {
    border-bottom: 1px solid black;
    padding: 5px;
    display: flex;
    flex-direction: column;

}

.Notice>.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;

}

.NtHeading {
    font-weight: 700;
    size: 30px;
    line-height: 30px;
    color: rgba(28, 56, 27, 0.6);
}

.NtTime {
    background: rgba(255, 255, 255, 0.5);
    padding: 6px;
    border-radius: 20px;
    width: 130px;
    height: 28px;
    text-align: center;
    color: rgba(20, 65, 5, 1);
}

.btm {
    font-weight: 400;
    size: 24px;
    line-height: 28px;
    color: rgba(20, 65, 5, 0.8);
}

main {
    background: #B9E1A3;
    display: flex;
    padding: 100px;
    padding-top: 160px;
    flex-direction: column;
}

main h2 {
    width: 100%;
    text-align: center;
    color: #000;
    text-align: center;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
}

.BlogContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.Blog {
    display: flex;
    padding: 50px;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
    border-radius: 22px;
    background: rgba(255, 255, 255, 0.40);
}

.Blog img {
    width: 330px;
    height: 330px;
    border-radius: 15px;
    border: 2px solid #1C381B;
}

.BlogText {
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
    border-radius: 22px;
    background: rgba(255, 255, 255, 0.40);
}

.LoadMore {
    border-radius: 100px;
    background: #7DAC37;
    display: flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
}


