
/* login page css */
.form{
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(30px);
    border: 1px solid white;
    border-radius: 5px;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}


.form h4{
    font-family: poppins;
    font-size: 25px;
    font-weight: 300;
    color: white;
}

.form .lgin{
    display: flex;
    flex-direction: column;
    width: 85%;
}

.lgin input{
    background-color: #ffffff2e;
    color: white;
    font-family: poppins;
    letter-spacing: 1px;
    text-indent: 35px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 15px;
}

.lgin input:nth-child(1){
    margin-top: 120px;
    background-image: url("user.png");
}

.lgin input:nth-child(2)
{
    background-image: url("lock.png");
}

.lgin input,button{
    margin: 10px;
    padding: 10px 5px;
    width: 260px;
    border: none;
    outline: none;
    border-radius: 60px;
    font-size: 16px;
}

.lgin input::placeholder{
    font-size: 14px;
    color: whitesmoke;

}

.lgin button{
    margin-top: 90px;
    background-color: rgb(rgb(192,188,188), green, blue);
    font-size: 14px;
    font-family: calibri;
    text-transform: uppercase;
    cursor: pointer;
    
}

.sugs{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: whitesmoke;
}
