* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

header {
    background-image: url("backgroundCarouselimage.png");
    height: 1280px;
}

nav {
    display: flex;
    justify-content: space-between;
    background: transparent;
    width: 90vw;
    margin: 0 50%;
    transform: translate(-50%);
    /* Fid at top position */
    z-index: 1000;
    position: fixed;
    top: 0;
}

.logo>img {
    width: 150px;
    height: 150px;
    margin: 5px;

}

.logo {
    width: 250px;
    height: 180px;
    border-radius: 0 0 30px 30px;
    background: rgba(185, 225, 163, 1);
    display: flex;
    justify-content: center;
    padding: 19px 34px;
}

.NavItems {
    height: 30px;
    display: flex;
    width: 45%;
    justify-content: space-evenly;
    font-weight: 700;
}

.NavItems a {
    color: rgba(250, 254, 230, 1);

}

.login {
    background: rgba(125, 172, 55, 1);
    padding: 15px 27px;
    border-radius: 15px;

    gap: 10px;
}

.login a {
    font-weight: 700;
    color: rgba(250, 254, 230, 1);
}