<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About NSS - CEMK</title>
    <link rel="stylesheet" href="static/CSS/style.css">
    <link rel="stylesheet" href="static/CSS/login.css">
    <link rel="shortcut icon" href="static/Images/nss_logo.png" type="image/x-icon">
  </head>
  <body>
    <nav>
      <div class="logo"><img src="static/Images/nss_logo.png" alt="NSS Logo" /></div>
      <div class="NavItems">
        <a href="/">Home</a>
        <a href="/About">About</a>
        <a href="#">Certificates</a>
        <a href="#">Events</a>
        <a href="/Members">Members</a>
      </div>
      <!-- <div class="login">
        <a href="/Login">Login</a>
      </div> -->
      <button class="login">Login</button>
    </nav>
    <main></main>

    <div class="wrapper">
      <button type="reset" class="close_ico"><img src="static/Images/close_16_w.png"></button>
      <div class="form-box lgin">
        <h2>Login</h2>
        <form action="#">
          <div class="input_box">
            <input type="email" required>
            <label>Email</label>
          </div>
          <div class="input_box">
            <input type="password" required>
            <label>Password</label>
          </div>
          <div class="rmbr">
            <label>
              <input type="checkbox">Remember me
            </label>
            <a href="#">Forgot password?</a>
          </div>
          <button type="submit" class="btn lgin">Login</button>
        </form>
      </div>

      <div class="form-box otp">
        <h2>Enter OTP</h2>
        <form action="#">
          <div class="input_box">
            <input type="otp" required>
            <label>OTP</label>
          </div>
          <button type="submit" class="btn otp">Submit</button>
          <button type="reset" class="btn bck">Back</button>
        </form>
      </div>
    </div>

    <footer>
      <div class="FooterContent">
        <div class="CollegeLogo">
          <img src="static/Images/collegelogo.png" alt="" />
        </div>
        <div class="CollegeName">
          College of Engineering & Management, Kolaghat
        </div>
        <div class="FindUs">
          <h3>Find us on</h3>
          <p>
            P.O. KTPP Township, Purba Medinipur <br /><br />
            Pin: 721171, West Bengal <br /><br />
            (03228) 249443, 250971 <br /><br />
            director@cemk.ac.in,<br /><br />
            registrar@cemk.ac.in
          </p>
        </div>
        <div class="Follow">
          <h3>Follow us</h3>
          <a href="#">X [ Twitter ]</a>
          <a href="#">Facebook</a>
          <a href="#">Linkedin</a>
          <a href="#">Youtube</a>
        </div>
      </div>
      <div class="FooterCopyright">
        Copyright © CEM, Kolaghat. All Rights Reserved.
      </div>
    </footer>
    <script src="static/JS/LoginHandaller.js"></script>
  </body>
</html>
