<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="static/Images/nss_logo.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="static/CSS/MainCommonStyle.css" />
    <link rel="stylesheet" href="static/CSS/index.css"/>
    <title>Dashboard</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="static/Images/nss_logo.png" alt="NSS Logo" />
      </div>
      <div class="NavItems">
        <a href="/">Home</a>
        <a href="/About">About</a>
        <a href="#">Certificates</a>
        <a href="#">Events</a>
        <a href="/Members">Members</a>
      </div>
      <a href="/Logout" class="login">Logout</a>
    </nav>
    <main>

    </main>

    <footer>
      <div class="FooterContent">
        <div class="CollegeLogo">
          <img src="static/Images/collegelogo.png" alt="" />
        </div>
        <div class="CollegeName">
          College of Engineering & Management, Kolaghat
        </div>
        <div class="FindUs">
          <h3>Find us on</h3>
          <p>
            P.O. KTPP Township, Purba Medinipur <br /><br />
            Pin: 721171, West Bengal <br /><br />
            (03228) 249443, 250971 <br /><br />
            director@cemk.ac.in,<br /><br />
            registrar@cemk.ac.in
          </p>
        </div>
        <div class="Follow">
          <h3>Follow us</h3>
          <a href="#">X [ Twitter ]</a>
          <a href="#">Facebook</a>
          <a href="#">Linkedin</a>
          <a href="#">Youtube</a>
        </div>
      </div>
      <div class="FooterCopyright">
        Copyright © CEM, Kolaghat. All Rights Reserved.
      </div>
    </footer>
  </body>
</html>
