<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NSS - CEMK</title>
    <link rel="shortcut icon" href="static/nss_logo.png" type="image/x-icon" />
    <style></style>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="stylesheet" href="static/index.css">
  </head>
  <body>
    <header>
      <nav>
        <div class="logo"><img src="static/nss_logo.png" alt="NSS Logo" /></div>
        <div class="NavItems">
          <a href="/">Home</a>
          <a href="#">About</a>
          <a href="#">Certificates</a>
          <a href="#">Events</a>
          <a href="/Members">Members</a>
        </div>
        <div class="login">
          <a href="/Login">Login</a>
        </div>
      </nav>
      <div class="HeroText">
        <h1>CEMK NSS Group</h1>
        <p>
          A community of students and teachers at College Of Engineering and
          Management Kolaghat to take part in various government led community
          service activities & programmes.
        </p>
        <a href="#">Explore What we do</a>
      </div>
      <div class="NoticeBoard">
        <h1>Notice Board</h1>
        <div class="NoticeContainer">
          <div class="Notice">
            <div class="top">
              <div class="NtHeading">Notice 1</div>
              <div class="NtTime">2024-07-19</div>
            </div>
            <div class="btm">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
              officiis, vero nisi beatae repellendus nostrum debitis possimus
              obcaecati distinctio corporis unde aspernatur nihil delectus
              adipisci dolorem. Nihil, libero? Fugit, facilis.
            </div>
          </div>
          <div class="Notice">
            <div class="top">
              <div class="NtHeading">Notice 1</div>
              <div class="NtTime">2024-07-19</div>
            </div>
            <div class="btm">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
              officiis, vero nisi beatae repellendus nostrum debitis possimus
              obcaecati distinctio corporis unde aspernatur nihil delectus
              adipisci dolorem. Nihil, libero? Fugit, facilis.
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <h2>Latest From us</h2>
      <div class="BlogContainer">
        <div class="Blog">
          <div class="BlogImage">
            <img src="static/Blog1BG.png" alt="Blog1 Photo" srcset="" />
          </div>
          <div class="BlogText">
            <h3>
              Over 80% Indian engineers are unemployable, lack new-age
              technology skills: Report
            </h3>
            <p>
              A report by Aspiring Minds found that over 80 percent of
              engineering graduates in India are unemployable due to a lack of
              necessary technological skills. The research, which included
              students from India, the US, and China, highlighted that few
              students engage in projects beyond their curriculum or
              internships. Varun Aggarwal, CTO and co-founder of Aspiring Minds,
              emphasized the need for better industry exposure and alignment of
              incentives for all stakeholders to address this issue.
            </p>
          </div>
        </div>
        <div class="Blog">
          <div class="BlogImage">
            <img src="static/Blog2BG.png" alt="Blog2 Photo" srcset="" />
          </div>
          <div class="BlogText">
            <h3>
              Over 80% Indian engineers are unemployable, lack new-age
              technology skills: Report
            </h3>
            <p>
              A report by Aspiring Minds found that over 80 percent of
              engineering graduates in India are unemployable due to a lack of
              necessary technological skills. The research, which included
              students from India, the US, and China, highlighted that few
              students engage in projects beyond their curriculum or
              internships. Varun Aggarwal, CTO and co-founder of Aspiring Minds,
              emphasized the need for better industry exposure and alignment of
              incentives for all stakeholders to address this issue.
            </p>
          </div>
        </div>
      </div>
      <div class="LoadMore">Load More</div>
    </main>
    <footer>
      <div class="FooterContent">
        <div class="CollegeLogo"><img src="static/collegelogo.png" alt=""></div>
        <div class="CollegeName">
          College of Engineering & Management, Kolaghat
        </div>
        <div class="FindUs">
          <h3>Find us on</h3>
          <p>
            P.O. KTPP Township, Purba Medinipur <br><br>
            Pin: 721171, West Bengal <br><br>
            (03228) 249443, 250971 <br><br>
            director@cemk.ac.in,<br><br>
            registrar@cemk.ac.in
          </p>
        </div>
        <div class="Follow">
          <h3>Follow us</h3>
          <a href="#">X [ Twitter ]</a>
          <a href="#">Facebook</a>
          <a href="#">Linkedin</a>
          <a href="#">Youtube</a>
        </div>
      </div>
      <div class="FooterCopyright">
        Copyright © CEM, Kolaghat. All Rights Reserved.
      </div>
    </footer>
  </body>
</html>
