<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NSS - CEMK</title>
  <link rel="shortcut icon" href="static/nss_logo.png" type="image/x-icon">
  <style>

  </style>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <header>
    <nav>
      <div class="logo"><img src="static/nss_logo.png" alt="NSS Logo"></div>
      <div class="NavItems">
        <a href="#">About</a>
        <a href="#">Certificates</a>
        <a href="#">Events</a>
        <a href="#">Members</a>
      </div>
      <div class="login">
        <a href="#">Login</a>
      </div>

    </nav>
    <div class="HeroText">

    </div>
  </header>
</body>
</html>