<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NSS - CEMk</title>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="shortcut icon" href="static/TempLogo.png" type="image/x-icon" />
  </head>
  <body>
    <header>
      <nav>
        <img src="static/TempLogo.png" alt="Logo" />
        <a href="#">Certificates</a>
        <a href="#">Tree Tracker</a>
        <a href="#">Details Work's</a>
        <a href="#">Member's</a>
        <a href="#">About</a>
        <a href="#">Donate</a>
      </nav>
    </header>
    <main id="Main">
      <div class="container">
        <div class="text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime est
          nam suscipit alias inventore impedit facilis assumenda temporibus
          officiis, ipsa quod excepturi? Aperiam obcaecati dolorum fugit rerum
          ex odit eaque, corporis similique porro sed aliquid dolor, optio,
          molestias culpa deleniti distinctio. Odit, officiis quae at nostrum
          voluptate iste fugit unde ducimus magnam delectus saepe inventore
          voluptatibus blanditiis assumenda non impedit cupiditate quod quis
          aliquid illo velit recusandae eaque ullam sequi. Aspernatur quisquam
          architecto voluptas soluta reprehenderit laudantium neque repellendus
          voluptatum accusamus pariatur non deserunt dolores iusto fugiat
          corporis, quas culpa nobis quaerat ab! Ullam velit voluptatibus nam
          magnam incidunt, autem quia obcaecati fugiat eum repudiandae placeat,
          dignissimos atque, alias laudantium magni. Nisi soluta pariatur
          exercitationem tempore? Nulla nam nobis vero exercitationem non fugit
          rem voluptatum tempora quisquam. Voluptatem, dignissimos et!
        </div>
        <div class="image">
            <img class="BlogImage" src="static/CollegeInternalView.png" alt="" srcset="">
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
