<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NSS - CEMK</title>
    <link rel="shortcut icon" href="static/nss_logo.png" type="image/x-icon" />
    <style></style>
    <link rel="stylesheet" href="static/login.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo"><img src="static/nss_logo.png" alt="NSS Logo" /></div>
        <div class="NavItems">
          <a href="/">Home</a>
          <a href="#">About</a>
          <a href="#">Certificates</a>
          <a href="#">Events</a>
          <a href="/Members">Members</a>
        </div>
        <div class="login">
          <a href="/Login">Login</a>
        </div>
      </nav>
      <section class="form">
        <h4>Log In To Your Account</h4>
        <div class="lgin">
          <input type="text" placeholder="Username">
          <input type="text" placeholder="Password">
          <button>Log In</button>
        </div>
        <div class="sugs">
          <div class="rmbr">
            <input type="checkbox">
            <span>Remember me</span>
          </div>
          <div class="frgtpswrd">
            <span>Forgot Password?</span>
          </div>
        </div>
      </section>
    </header>

    <footer>
      <div class="FooterContent">
        <div class="CollegeLogo"><img src="static/collegelogo.png" alt=""></div>
        <div class="CollegeName">
          College of Engineering & Management, Kolaghat
        </div>
        <div class="FindUs">
          <h3>Find us on</h3>
          <p>
            P.O. KTPP Township, Purba Medinipur <br><br>
            Pin: 721171, West Bengal <br><br>
            (03228) 249443, 250971 <br><br>
            director@cemk.ac.in,<br><br>
            registrar@cemk.ac.in
          </p>
        </div>
        <div class="Follow">
          <h3>Follow us</h3>
          <a href="#">X [ Twitter ]</a>
          <a href="#">Facebook</a>
          <a href="#">Linkedin</a>
          <a href="#">Youtube</a>
        </div>
      </div>
      <div class="FooterCopyright">
        Copyright © CEM, Kolaghat. All Rights Reserved.
      </div>
    </footer>
  </body>
</html>
