<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members of NSS CEMK</title>
    <link rel="shortcut icon" href="static/nss_logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="static/style.css" />
    <link rel="stylesheet" href="static/members.css">
  </head>
  <body>
    <nav>
      <div class="logo"><img src="static/nss_logo.png" alt="NSS Logo" /></div>
      <div class="NavItems">
        <a href="/">Home</a>
        <a href="/About">About</a>
        <a href="#">Certificates</a>
        <a href="#">Events</a>
        <a href="/Members">Members</a>
      </div>
      <div class="login">
        <a href="/Login">Login</a>
      </div>
    </nav>
    <main>
      <h1>The Team /</h1>
      <h2>
        Meet our team of Students and teachers united to improve society and be
        the change.
      </h2>
      <div class="ProfileContainer">
        <div class="Profile">
          <img src="static/profileimage.png" alt="ProfileImage" />
          <div class="ProfileHeroSection">
            <div class="ProfileName">Sam Altman</div>
            <div class="ProfileDescription">Chat GPT will take all jobs</div>
          </div>
        </div>
        <div class="Profile">
          <img src="static/profileimage.png" alt="ProfileImage" />
          <div class="ProfileHeroSection">
            <div class="ProfileName">Sam Altman</div>
            <div class="ProfileDescription">Chat GPT will take all jobs</div>
          </div>
        </div>
        <div class="Profile">
          <img src="static/profileimage.png" alt="ProfileImage" />
          <div class="ProfileHeroSection">
            <div class="ProfileName">Sam Altman</div>
            <div class="ProfileDescription">Chat GPT will take all jobs</div>
          </div>
        </div>
        <div class="Profile">
          <img src="static/profileimage.png" alt="ProfileImage" />
          <div class="ProfileHeroSection">
            <div class="ProfileName">Sam Altman</div>
            <div class="ProfileDescription">Chat GPT will take all jobs</div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="FooterContent">
        <div class="CollegeLogo">
          <img src="static/collegelogo.png" alt="" />
        </div>
        <div class="CollegeName">
          College of Engineering & Management, Kolaghat
        </div>
        <div class="FindUs">
          <h3>Find us on</h3>
          <p>
            P.O. KTPP Township, Purba Medinipur <br /><br />
            Pin: 721171, West Bengal <br /><br />
            (03228) 249443, 250971 <br /><br />
            director@cemk.ac.in,<br /><br />
            registrar@cemk.ac.in
          </p>
        </div>
        <div class="Follow">
          <h3>Follow us</h3>
          <a href="#">X [ Twitter ]</a>
          <a href="#">Facebook</a>
          <a href="#">Linkedin</a>
          <a href="#">Youtube</a>
        </div>
      </div>
      <div class="FooterCopyright">
        Copyright © CEM, Kolaghat. All Rights Reserved.
      </div>
    </footer>
  </body>
</html>
